.card-group {
  padding-bottom: 5%;
}
.card {
  margin: 25px;
}

.card-body {
  background: var(--backgroundColor);
}

.card-body .btn {
  border: none;
  background: var(--oragetint);
  color: var(--secondaryShade);
  text-transform: uppercase;
}
