* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background: var(--backgroundColor);
}

.content-container {
  padding-bottom: 2%;
}

.card-body {
  background: var(--backgroundColor);
}

.card-body .btn {
  border: none;
  background: var(--oragetint);
  color: var(--secondaryShade);
  text-transform: uppercase;
  box-shadow: -3px 3px var(--secondary), -2px 2px var(--secondaryShade),
    -1px 1px var(--secondary);
}

.card-body .btn:hover {
  color: var(--primary);
  box-shadow: -5px 5px var(--secondary), -4px 4px var(--secondaryShade),
    -3px 3px var(--secondary);
}

.fab {
  font-size: 1.8rem;
  padding-bottom: 30%;
}

.fas {
  font-size: 2rem;
  color: var(--primary);
}

p .more-link {
  font-size: 1rem;
}
